@page
@model G5Foods.Pages.Admin.ManageProduct.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets_admin/images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="~/assets_admin/./plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="~/assets_admin/css/style.css" rel="stylesheet">

</head>

<body>


    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="index.html">
                    <b class="logo-abbr"><img src="images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="./images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <img src="images/logo-text.png" alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        @await Html.PartialAsync("/Pages/Shared/_Header_Admin.cshtml")
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        @await Html.PartialAsync("/Pages/Shared/_Sidebar_Admin.cshtml")
        <!--**********************************
            Sidebar end
        ***********************************-->
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <dl class="row">
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Product.ProductName)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Product.ProductName)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Product.UnitPrice)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Product.UnitPrice)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Product.Image)
                                    </dt>
                                    <dd class="col-sm-10">
                                        <img src="~/assets/img/products/@Model.Product.Image" alt="Product Image" class="img-fluid" style="max-width: 450px; max-height: 450px;" />
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Product.Category)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Product.Category.CategoryName)
                                    </dd>
                                </dl>
                                <p>
                                    <button class="btn mb-1 btn-outline-danger" onclick="window.location.href='@Url.Page("./Edit", new { id = Model.Product?.ProductId })'">Edit</button> |
                                    <button class="btn mb-1 btn-outline-primary" onclick="window.location.href='@Url.Page("./Index")'">Back to List</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        <!--**********************************
            Footer start
        ***********************************-->
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
    <script src="~/assets_admin/plugins/common/common.min.js"></script>
    <script src="~/assets_admin/js/custom.min.js"></script>
    <script src="~/assets_admin/js/settings.js"></script>
    <script src="~/assets_admin/js/gleek.js"></script>
    <script src="~/assets_admin/js/styleSwitcher.js"></script>

    <script src="~/assets_admin/./plugins/tables/js/jquery.dataTables.min.js"></script>
    <script src="~/assets_admin/./plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets_admin/./plugins/tables/js/datatable-init/datatable-basic.min.js"></script>
</body>

</html>