@page
@using G5Foods.Models
@model G5Foods.Pages.Admin.Report.IndexModel
@{
    string DateFromString = ViewData["DateFrom"]!.ToString()!;
    string DateToString = ViewData["DateTo"]!.ToString()!;
    List<Order> Orders = (ViewData["orders"] as List<Order>)!;
}
<link href="~/assets_admin/css/style.css" rel="stylesheet">

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets_admin/images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="~/assets_admin/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="~/assets_admin/css/style.css" rel="stylesheet">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <di@* v id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div> *@
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="index.html">
                    <b class="logo-abbr"><img src="images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="./images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <img src="images/logo-text.png" alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        @await Html.PartialAsync("/Pages/Shared/_Header_Admin.cshtml")
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        @await Html.PartialAsync("/Pages/Shared/_Sidebar_Admin.cshtml")
        <!--**********************************
            Sidebar end
        ***********************************-->

        <div class="content-body p-3">
            <!-- /# column -->
            <div class="card w-75 m-auto">
                <div class="card-body">
                    <div class="card-title d-flex justify-content-between">
                        <h4>Report from @DateFromString to @DateToString</h4>
                        <div>
                            <form method="get" action="">
                                <input type="date" name="DateFrom" class="form-control d-inline w-auto" /> -
                                <input type="date" name="DateTo" class="form-control d-inline w-auto" />
                                <input type="submit" value="Search" class="btn btn-primary form-control d-inline w-auto" />
                            </form>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Customer Name</th>
                                    <th>Order Date</th>
                                    <th>Required Date</th>
                                    <th>Freight</th>
                                    <th>Shipper Name</th>
                                    <th>Shipper Phone</th>
                                    <th>Address</th>
                                    @* <th>Created Admin</th> *@
                                    <th style="max-width:50px">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int count = 0;}
                                @foreach (var order in Orders)
                                {
                                    <tr>
                                        <th>@(++count)</th>
                                        <td>@order.Customer!.CustomerName</td>
                                        <td>
                                            <span class="badge badge-success px-2">@(order.OrderDate!.Value.ToString("dd/MM/yyyy"))</span>
                                        </td>
                                        <td>
                                            <span class="badge badge-primary px-2">@(order.RequiredDate)</span>
                                        </td>
                                        <td>@order.Freight</td>
                                        <td>@order.ShipName</td>
                                        <td>@order.ShipPhone</td>
                                        <td>@order.Address</td>
                                        @* <td>@order.Admin!.AdminName</td> *@
                                        <td>
                                            <button class="btn btn-primary" onclick="window.location.href='/admin/report/OrderDetail?OrderId=@order.OrderId'">View detail</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /# card -->
        </div>
    </div>
    <script src="~/assets_admin/plugins/common/common.min.js"></script>
    <script src="~/assets_admin/js/custom.min.js"></script>
    <script src="~/assets_admin/js/settings.js"></script>
    <script src="~/assets_admin/js/gleek.js"></script>
    <script src="~/assets_admin/js/styleSwitcher.js"></script>

    <script src="~/assets_admin/./plugins/tables/js/jquery.dataTables.min.js"></script>
    <script src="~/assets_admin/./plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets_admin/./plugins/tables/js/datatable-init/datatable-basic.min.js"></script>
</body>
</html>



